<div class="main-container">
    <nav>
        <img src="/assets/images/buttons/back.png" alt="Back" class="nav__back" (click)="goBack()">
        <a href="index.html">
            <img src="/assets/images/logos/cross-and-crescent.png" alt="Lambda Chi Alpha Cross and Crescent" class="nav__logo">
        </a>
        <div class="header-text float-right">&Lambda;&Chi;&Alpha; Baldwin Wallace Student Directory</div>
    </nav>
    <div *ngIf="brother" id="brother-details" class="details">
        <h1>
            {{brother.Name}}
            <span *ngIf="brother.ZetaNumber" class="detail__zeta-number">&Kappa;&Phi;-{{brother.ZetaNumber}}</span>
            <span *ngIf="!brother.ZetaNumber" class="detail__zeta-number">Associate Member</span>
        </h1><br />
        {{getMajors()}}<br />
        {{getMinors()}}<br /><br />

        Joined {{formatDate(brother.DateJoined)}}<br />
        <span *ngIf="brother.DateInitiated.getTime() != 0">Initiated {{formatDate(brother.DateInitiated)}}<br /></span>
        {{getGraduationTense()}} {{convertDateIntoSemester(brother.ExpectedGraduation)}}<br /><br />

        Big brother: {{brother.BigBrother}}<br />
        <span *ngIf="brother.LittleBrothers && brother.LittleBrothers.length > 0">
            Little brother{{determinePlurality(brother.LittleBrothers, "", "s")}}: {{formatList(brother.LittleBrothers)}}<br />
        </span><br />

        {{getPastPositions()}}<br />
        {{getCurrentPositions()}}<br />
        <br />

        <div class="detail__questions" *ngFor="let q of brother.Questions">
            <div class="detail__question">
                {{q.Question}}
            </div>
            <div class="detail__answer">
                {{q.Answer}}
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-text float-right">&copy; <a [routerLink]="['/details', 4]">Luke Szumyckyj</a> &amp; <a [routerLink]="['/details', 3]">Dan Jesensky</a> <span id="year">{{getYear()}}</span></div>
    </footer>
</div>