<div class="main-container">
    <nav>
        <a href="index.html">
            <img src="/assets/images/logos/cross-and-crescent.png" alt="Lambda Chi Alpha Cross and Crescent" class="nav__logo">
        </a>
        <div class="header-text float-right">&Lambda;&Chi;&Alpha; Baldwin Wallace Student Directory</div>
        <div class="search">
            <form>
                <label for="search-field" class="search__title">Search:</label>
                <br>
                <input id="search-field" class="search__field" type="text" placeholder="Name">
                <button type="submit" id="search-button" class="search__button" (click)="search()"><span class="fa fa-search"></span></button>
            </form>
        </div>
    </nav>
    
    <div id="brother-list" class="brother-list">
        <div class="row" *ngFor="let row of brothers">
            <a *ngFor="let brother of row">
                <div *ngIf="brother" (click)="onSelect(brother)" class="col-s-4 brother">
                    <img src="{{brotherService.getApiUri()}}/Pictures/{{brother.ID}}" alt="{{brother.Name}}" class="brother__image">
                    <div  class="brother__name">{{brother.Name}}</div>
                </div>
            </a>
        </div>
    </div>
    <footer>
        <div class="footer-text float-right">&copy; <a [routerLink]="['/details', 4]">Luke Szumyckyj</a> &amp; <a [routerLink]="['/details', 3]">Dan Jesensky</a> <span id="year">{{getYear()}}</span></div>
    </footer>
</div>
