* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: #15C;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(229, 229, 229, 1);
    background-image: url(images/backgrounds/coat-of-arms-large.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button {
    background: none;
    border: none;
    font: inherit;
    line-height: normal;
    padding: 0;
}

.main-container {
    margin: 0 auto;
    max-width: 1920px;
}


/*Top Nav*/

nav {
    padding: 20px;
}

.nav__back {
    cursor: pointer;
    width: 3em;
    height: 3em;
}

.header-text {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 5px;
}


/*Search Bar*/

.search {
    margin-top: 30px;
}

.search__title {
    font-size: 1.8em;
    font-weight: 300;
}

.search__field {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 70%;
    max-width: 1000px;
    padding-bottom: 3px;
    font-size: 1em;
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 1);
    background: none;
    margin-top: 20px;
}

.search__field:focus {
    border-bottom: solid 2px rgba(0, 128, 0, 1);
    outline: none;
}

.search__field:focus + .search__button {
    border-bottom: solid 2px rgba(0, 128, 0, 1);
}

.search__button {
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
    padding-bottom: 5px;
    margin-left: -5px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.search__button:hover {
    color: rgba(0, 128, 0, 1);
}

.search__button:active {
    -moz-transition: 0s;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    color: rgba(213, 162, 41, 1);
}


/*Brother List*/

.brother-list {
    margin: 0 auto;
    margin-top: 30px;
}

.brother {
    position: relative;
    height: 325px;
    cursor: pointer;
}

.brother__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brother__name {
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 85%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
}

.brother:hover > .brother__name {
    top: 0;
}

/*Details Page*/

.details {
    margin: auto 20px;
}

.detail__zeta-number {
    font-size: 0.6em;
    position: relative;
    bottom: 0.2em;
    color: #7f7f7f;
}

.detail__questions {
    padding: 20px 0;
}

.detail__question {
    font-size: 1.2em;
}

.detail__answer {
    font-size: 1em;
    padding-left: 20px;
}


/*Footer*/

footer {
    margin: 0 20px;
}

.footer-text {
    margin: 20px 0;
    font-size: 0.8em;
}


/*Mobile*/


/*Screen ≤ 600px*/

@media only screen and (max-width: 600px) {
    /*Top Nav*/
    .header-text {
        font-size: 0.8em;
        font-weight: 500;
        margin-top: 5px;
    }
    .nav__logo {
        width: 30px;
    }
    /*Search Bar*/
    .search__title {
        font-size: 1.5em;
    }
    .search__field {
        width: 90%;
    }
}


/*Screen ≤ 768px*/

@media only screen and (max-width: 768px) {
    body {
        background-image: url(images/backgrounds/coat-of-arms-small.png);
    }
    .footer-text {
        font-size: 0.7em;
    }
}


/*Screen ≥ 600px*/

@media only screen and (min-width: 600px) {
    .brother {
        height: 425px;
    }
}


/*Screen ≥ 768px*/

@media only screen and (min-width: 768px) {
    .brother {
        height: 225px;
    }
}


/*Screen ≥ 1200px*/

@media only screen and (min-width: 1200px) {
    .brother {
        height: 275px;
    }
}


/*Screen ≥ 1366px*/

@media only screen and (min-width: 1366px) {
    .brother {
        height: 400px;
    }
    .brother__name {
        font-size: 1.3em;
    }
}


/*Screen > 1920px*/

@media only screen and (min-width: 1921px) {
    .brother-list {
        padding: 0 20px;
    }
}


/*Helpers*/

.float-right {
    float: right;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    /*For phones:*/
    width: 100%;
    float: left;
}

@media only screen and (min-width: 768px) {
    /*For tablets:*/
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    /*For desktops:*/
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    /*For large desktops:*/
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}